 /*返回首頁按鈕*/
.back-to-login {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #007bff;
    transition: color 0.2s;
}

.back-to-login:hover {
    color: #0056b3;
    text-decoration: underline;
}
 /* 讓整個畫面置中 */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 登入框樣式 */
.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

/* 表單欄位統一樣式 */
#login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/* 按鈕樣式 */
#login-form button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3; /* 初始按鈕背景 */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 按鈕懸浮效果 */
#login-form button:hover {
    background-color: #2c3e50; /* 滑鼠懸停時改變背景顏色 */
}


#login-form .nav-link {
    display: block;
    /* width: 100%;
   
    
    border-radius: 5px;
    background-color: #28a745; */
    
    margin-top: 10px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    text-decoration: underline;
}

/* 錯誤訊息樣式 */
#login-error {
    margin-top: 15px;
    font-size: 14px;
}
